:root {
    --main-bg-color: #ffd11a;
    --light-blue-color: #3f51b5;
    --max-width-font-size: 22px;
    --avg-width-font-size: 18px;
}

.bichig {
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-family: 'Mongolian White';
    font-size: var(--max-width-font-size);
    font-weight: 500;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: right;
}

.bichigw {
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-family: 'Mongolian Writing';
    font-size: var(--max-width-font-size);
    font-weight: 700;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: right;
}

.bichigwH1 {
    font-size: 4rem;
}

.bichigH2 {
    font-size: 3rem;
}

.bichiga {
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-family: 'Mongolian Art';
    font-size: 3rem;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: right;
}


/* ===================== media query ====================== */

@media only screen and (max-width: 1300px) {
    .bichigH2 {
        font-size: 2rem;
    }
    .bichigwH1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .bichigH2 {
        font-size: 1.5rem;
    }
    .bichigwH1 {
        font-size: 2.5rem;
    }
}