// ====================durem huudas style ===============
.durmvvd {
  h1 {
    text-align: center;
  }
}
.back-light-blue {
  background-color: $light-blue;
}
.back-white {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.br-7 {
  border-radius: 7px;
}
.side-bar {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: $box-shadow1;
  margin-bottom: 0;
  height: 100%;
  li {
    border-bottom: 1px dotted $light-gray;
  }
  .title {
    background-color: $darker-blue30;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-bottom: none !important;
    padding: 3px 20px;
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    color: $black;
    width: 100%;
    height: 100%;
    padding: 3px 20px;
  }
  .title:hover {
    background-color: $darker-blue30 !important;
  }

  .ul-link > li:hover {
    background-color: $light-gray;
    border-bottom: 1px solid $light-gray;
  }
}
.durem {
  table {
    border-radius: 7px;
  }
  table,
  th,
  td {
    border: 1px solid $light-gray;
    border-collapse: collapse;
  }
  td {
    padding: 5px;
  }
}
.post-durem {
  p {
    text-align: justify;
  }

  strong {
    text-align: center;
  }
  h3,
  h4 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
  h3 {
    @include mb;
  }
  h4 {
    @include mb-w;
  }
  ul {
    padding-left: 20px;
  }
  li {
    list-style: square;
    text-align: justify;
  }
}
.dewsger {
  table {
    width: 100%;
  }
  thead {
    background-color: $light-blue;
  }
  td,
  h3 {
    text-align: center;
  }
  h4 {
    @include mb;
  }
}
.useg-box {
  box-shadow: $box-shadow1;
  border-radius: 7px;
  padding: 15px;
  height: 100%;
  @include transition(0.1s);
  h3 {
    margin-top: 0;
    margin-bottom: 0rem;
    text-align: center;
    color: $darker-blue10;
    font-weight: bold;
  }
}
.useg-box th,
.useg-box td {
  padding: 5px;
}
.vseg-table-del {
  width: 100%;
}
.vseg-table-del th,
.vseg-table-del td {
  text-align: center;
  padding: 10px;
  border: 1px solid $light-gray;
  border-collapse: collapse;
}

.useg-box:hover {
  background-color: $light-blue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.vseg-del {
  display: flex;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
    @include display-center;
    strong {
      @include mb;
    }
  }
}

.ant-modal-content {
  border-radius: 7px;
  //   background-color: $light-blue;
}
.ant-modal-header {
  border-radius: 7px 7px 0 0;
  text-align: center;
  //   background-color: $light-blue;
}
.ant-modal-title {
  color: $darker-blue10;
  font-weight: bold;
  font-size: 1.3rem;
}

.description {
  background-color: $light-blue;
  padding: 10px;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.urt-hos-egshig {
  h3 {
    font-size: 1.2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      @include mb;
      font-size: 18px;
      strong {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
  }
}

.str {
  strong {
    @include mb;
  }
}

.dagawar-box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  // border: 1px solid $light-gray;
  height: 100%;
  display: flex;
  @include transition(0.2s);
  h6 {
    border-right: 1px solid $light-gray;
    background-color: $light-blue;
    margin: 0 !important;
    text-align: center;
    padding: 10px 5px !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    @include mb;
    @include transition(0.2s);
  }
  p {
    margin-bottom: 0;
  }
  strong {
    @include mb;
  }
  div {
    text-align: center;
    padding: 5px;
    width: 100%;
  }
}
.dagawar-box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  h6 {
    background-color: $darker-blue20;
    color: white;
  }
}
