h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  // color: $text-color;
  // font-family: Circle, Helvetica Neue, Arial, Noto Sans, sans-serif;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.75;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

//================ space ===============

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.bg-container {
  padding: 3rem 0;
}

.md-container {
  padding: 2rem 0;
}

.sm-container {
  padding: 1rem 0;
}

/*----padding top----*/
.pt-10 {
  padding-top: 0.625rem;
}

.pt-15 {
  padding-top: 0.938rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pt-30 {
  padding-top: 1.875rem;
}
.pt-90 {
  padding-top: 7rem;
}
/*----padding bottom----*/
.pb-10 {
  padding-bottom: 0.625rem;
}

.pb-15 {
  padding-bottom: 0.938rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

/*----margin bottom----*/
.mb-10 {
  margin-bottom: 0.625rem;
}

.mb-15 {
  margin-bottom: 0.938rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

/*----margin top----*/
.mt-10 {
  margin-top: 0.625rem;
}

.mt-15 {
  margin-top: 0.938rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

//=============display============
.ds-flex {
  display: flex;
}

.ds-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}

// -----------position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

// ===========text

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.mb-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}

// ===========font=============
.bg-font {
  font-size: 3rem !important;
}
.bg-font {
  font-size: 3rem !important;
}
.xl-font {
  font-size: 2.5rem !important;
}
.lg-font {
  font-size: 2rem !important;
}
.md-font {
  font-size: 1.5rem !important;
}
.xs {
  font-size: 0.8rem !important;
}
.font-300 {
  font-weight: 300;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}

// ================back
.back-main1 {
  background-color: $darkest-blue;
}
.back-main2 {
  background-color: $darker-blue10;
}
.back-main3 {
  background-color: #004263;
}

// ======list styles============

li {
  list-style: none;
}
ul {
  padding-left: 0;
}
.shadow1 {
  text-shadow: black 0.1em 0.1em 0.2em;
}
