// =================main css===================
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

.slider-main {
  .slider-cont {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      filter: brightness(50%);
    }
  }
  .home-info {
    position: absolute;
    top: 22vh;
    left: 0%;
    right: 0%;
    bottom: 0vh;
    .slick-next:before,
    .slick-prev:before {
      font-size: 2.5rem;
      color: $color;
    }
    .slick-prev {
      left: 25px;
      z-index: 5;
    }
    .slick-next {
      right: 40px;
      z-index: 5;
    }
    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }
  }

  .slider-info {
    text-align: center;
    display: flex !important;
    justify-content: center;
    z-index: 2;
    a {
      margin-top: 30px;
      display: inline-block;
      padding: 0.75rem 3rem;
      border-radius: 10rem;
      color: rgb(53, 48, 48);
      font-size: 1rem;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.home-skelton {
  padding: 150px 10% 100px 10%;
}

// ======================news styles==============
.news-card {
  position: relative;
  height: 450px;
  @include transition(0.5s);
  .news-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  img {
    width: 100%;
    height: 100%;
    @include transition(0.3s);
    filter: brightness(80%);
  }
  .desc {
    padding: 20px 0px;
    height: 40%;
    display: inline-block;
    h6 {
      line-height: 1.3;
      font-weight: 600;
    }
    span:nth-child(1) {
      color: $darker-blue20;
    }
    span:nth-child(2) {
      color: $darker-blue20;
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 0;
      color: rgb(71, 67, 67);
      display: flex;
      justify-content: space-between;
    }
  }
}

.news-card::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 10px;
  height: 3px;
  background: $darker-blue10;
  background-image: linear-gradient(to right, $darker-blue10, #ff0066);
  transition: width 0.3s;
}

.news-card:hover::after {
  width: 100%;
  //transition: width .3s;
}
.news-card:hover {
  img {
    @include transform(scale(1.1));
    filter: none;
  }
  h6 {
    background-image: $gradient-title1;
    @include gra-text;
  }

  span:nth-child(2) {
    color: #c75d87;
  }
}
hr {
  overflow: visible;
  text-align: inherit;
  border: 0;
  border-top: 1px solid #d9e2ef;
}
.news-more {
  .image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  hr {
    margin: 1.2rem 0 2rem 0;
  }
}
.latest-news {
  border-top: 3px solid $darker-blue20;
  padding: 2rem 0;
  img {
    width: 30%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
  }
  hr {
    margin: 1.2rem 0;
  }
}
.lat-news:hover {
  h6 {
    background-image: $gradient-title1;
    @include gra-text;
  }
  hr {
    border-color: #61b1da;
  }
}

// about

.about-back {
  width: 100%;
  padding: 3rem 0 4rem 0;
  position: relative;
  overflow: hidden;
  background-color: $light-blue;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  h1 {
    font-size: 4rem;
    color: $darker-blue20;
    text-shadow: 2px 2px 2px rgb(243, 239, 239);
    font-family: "Lobster";
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    color: $darker-blue10;
  }
}
.about-me {
  h1 {
    font-size: 3.5rem;
    color: $darker-blue20;
    text-shadow: 2px 2px 2px rgb(243, 239, 239);
    font-family: "Lobster";
    text-align: center;
  }
  img {
    border-radius: 20px;
    box-shadow: $box-shadow1;
  }
  p {
    font-size: 1.5rem;
    text-align: justify;
    color: $darkest-blue;
    padding-right: 30px;
    padding-left: 50px;
  }
}

// ===============unshih materials styles
.unshih-mat,
.songodog {
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-tabs-tab-btn {
    font-size: 1rem;
    font-weight: 400;
  }
  .ant-tabs-content {
    padding: 20px 0;
  }
}
.unshih-modal {
  width: 1200px !important;
  transform-origin: 85px 43px;
  overflow: hidden;
  height: -webkit-fill-available;
  .ant-modal-body {
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .ant-modal-content {
    width: 100% !important;
    height: 100% !important;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
.unshih-box {
  width: 100%;
  .ant-image {
    width: 100%;
  }
  img {
    width: 100%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    @include transition(0.3s);
    border-radius: 7px;
  }
  h6 {
    top: 0;
    left: 0;
    padding: 7px 20px;
    background-color: rgba(5, 75, 102, 0.6);
    text-align: center;
    color: white;
    text-shadow: $shadow2;
    line-height: 1.1;
  }
  p {
    @include centerer;
    color: white;
    display: none;
  }
}
.file-u:hover {
  img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    filter: brightness(55%);
  }
  p {
    display: block;
  }
}

.notfound {
  h1 {
    font-size: 8rem;
    color: $darker-blue10;
    letter-spacing: 2rem;
  }
  h2 {
    color: $darker-blue20;
  }
}

.ant-tabs {
  font-size: 1rem;
}

.songodog {
  img {
    margin-bottom: 1rem;
  }
}

.contact-info {
  h2 {
    margin-bottom: 3rem;
  }
  P {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  span {
    margin-right: 1rem;
    opacity: 0.6;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  .follow {
    position: absolute;
    bottom: 3rem;
    margin-bottom: 24px;
  }
}
.send {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  text-align: center;
  span {
    transform: rotate(-45deg);
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
.ant-image-mask-info {
  visibility: hidden;
}
.ant-image-mask-info:after {
  content: "Зураг";
  visibility: visible;
  display: block;
  @include centerer;
}
