// =================main css===================
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

.slider-main {
  .slider-cont {
    position: relative;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .home-info {
    position: absolute;
    top: 22vh;
    left: 0%;
    right: 0%;
    bottom: 0vh;
    .slick-prev {
      left: 25px;
      z-index: 5;
    }
    .slick-next {
      right: 25px;
      z-index: 5;
    }
    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }
  }

  .slider-info {
    text-align: center;
    padding: 30px;
    display: flex !important;
    justify-content: center;
    z-index: 2;
    a {
      margin-top: 30px;
      display: inline-block;
      padding: 0.75rem 3rem;
      border-radius: 10rem;
      color: rgb(53, 48, 48);
      font-size: 1rem;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
}
#flip {
  height: 50px;
  overflow: hidden;
}
.flip-cont {
  width: 100%;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

#flip > div > div {
  color: #fff;
  padding: 0px 24px;
  border-radius: 5px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 8s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

// ======================news styles==============
.news-card {
  position: relative;
  height: 450px;
  @include transition(0.5s);
  .news-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  img {
    width: 100%;
    height: 100%;
    @include transition(0.3s);
    filter: brightness(80%);
  }
  .desc {
    padding: 20px 0px;
    height: 40%;
    display: inline-block;
    h6 {
      line-height: 1.3;
      font-weight: 600;
    }
    span:nth-child(1) {
      color: $darker-blue20;
    }
    span:nth-child(2) {
      color: $darker-blue20;
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 0;
      color: rgb(71, 67, 67);
      display: flex;
      justify-content: space-between;
    }
  }
}

.news-card::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 10px;
  height: 3px;
  background: $darker-blue10;
  background-image: linear-gradient(to right, $darker-blue10, #ff0066);
  transition: width 0.3s;
}

.news-card:hover::after {
  width: 100%;
  //transition: width .3s;
}
.news-card:hover {
  img {
    @include transform(scale(1.1));
    filter: none;
  }
  h6 {
    background-image: $gradient-title1;
    @include gra-text;
  }

  span:nth-child(2) {
    color: #c75d87;
  }
}
hr {
  overflow: visible;
  text-align: inherit;
  border: 0;
  border-top: 1px solid #d9e2ef;
}
.news-more {
  .image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  hr {
    margin: 1.2rem 0 2rem 0;
  }
}
.latest-news {
  border-top: 3px solid $darker-blue20;
  padding: 2rem 0;
  img {
    width: 30%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
  }
  hr {
    margin: 1.2rem 0;
  }
}
.lat-news:hover {
  h6 {
    background-image: $gradient-title1;
    @include gra-text;
  }
  hr {
    border-color: #61b1da;
  }
}
.surgalt {
  height: 450px;
  border-bottom: 3px solid $light-gray;

  @include transition(0.5s);
  .image {
    height: 60%;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    img {
      filter: brightness(70%);
      @include transition(0.3s);
    }
  }
  h5,
  strong {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02rem;
    font-size: 1.3rem;
    color: $darkest-blue;
  }
  h5:hover {
    text-decoration: underline;
  }
  .grayText {
    color: #6a6f73;
    margin-bottom: 0.4rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
  }
  .ratingNum {
    margin-right: 0.4rem;
    padding-top: 0.2rem;
    color: #b4690e;
    font-weight: 700;
    font-size: 1.1rem;
  }
  .vne {
    .line {
      top: 50%;
      left: 0.4rem;
      right: 0;
      border-top: 1px solid gray;
    }
  }
}
.surgalt:hover {
  border-image: linear-gradient(90deg, rgb(8, 122, 216), rgb(255, 131, 193)) 1;
  img {
    filter: none;
    @include transform(scale(1.1));
  }
  strong,
  h5 {
    color: $darker-blue10;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: $darker-blue10;
  color: #fff;
  text-transform: uppercase;
  @include transition(all ease 0.3s);
}
.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: #80c5d4;
  z-index: -1;
  @include transition(all ease 0.3s);
}
.btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  background-color: #d4809e;
  z-index: -1;
  @include transition(all ease 0.3s);
}
.btn:hover {
  background-color: #80c5d4;
}
.btn:hover:before {
  top: -10px;
  left: -10px;
  background-color: #282e32;
}
.btn:hover:after {
  top: 10px;
  left: 10px;
}
