$darkest-blue: #0a314d;
$darker-blue30: #004263;
$darker-blue20: #005a87;
$darker-blue10: #006ba1;
$light-blue: #cee6f1;

$black: #2f353f;
$bg-blue: #007cba;
$white: #ffffff;
$back-yellow10: #fdba00;
$back-yellow20: #f8c52c;
$light-gray: #f0f0f0;
$shadow2: black 0.1em 0.1em 0.3em;
$shadow3: white 0.1em 0.1em 0.2em;
$box-shadow1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$gradient-title1: linear-gradient(45deg, $darker-blue10, #ff0066);
